
html {
    width:100%;
    background-color: #A0CCBA;
    color: #4CFFF9;
    
}
h1{
    text-align: center;
    font-size: 60px;

}


form {
    position: relative;
    display: inline;
}
.center{
background-color: #007F7B;
width: 80%;
height: 600px;
margin:auto;
padding: 1%;
margin-top:5%;
border-radius: 18px ;
border: 2px #011E7F solid ;

}

.login {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    max-width: 250px;
    float: center;
}

.botao-login{
    background-color: #00CCC6;
    border: none;
    color: white;
    padding:  15px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
}